<section class="delivery">
    <div class="main-bread-crumbs">
        <div class="main-bread-crumbs_wrapper">
            <a href="">Главная страница</a>
            <span><img src="img/icons/arrow_small.svg" alt=""></span>
            <a href="" class="main-bread-crumbs_active">Информация</a>
        </div>
    </div>
    <div class="container">
        <div class="aboutus__header">
            <a href="aboutus.html" class="aboutus__header_item">
                <div class="aboutus__header_item_img">
                    <img src="img/aboutus/1.svg" alt="">
                </div>
                <div class="aboutus__header_item_title">
                    <p>О нас</p>
                </div>
            </a>
            <a href="delivery.html" class="aboutus__header_item active">
                <div class="aboutus__header_item_img">
                    <img src="img/aboutus/2.svg" alt="">
                </div>
                <div class="aboutus__header_item_title">
                    <p>Доставка и оплата</p>
                </div>
            </a>
            <a href="obmen.html" class="aboutus__header_item">
                <div class="aboutus__header_item_img">
                    <img src="img/aboutus/3.svg" alt="">
                </div>
                <div class="aboutus__header_item_title">
                    <p>Обмен и возврат</p>
                </div>
            </a>
            <a href="contacts.html" class="aboutus__header_item">
                <div class="aboutus__header_item_img">
                    <img src="img/aboutus/4.svg" alt="">
                </div>
                <div class="aboutus__header_item_title">
                    <p>Контакты</p>
                </div>
            </a>
        </div>
    </div>
    <div class="aboutus__wrap">
        <div class="container">
            <div class="aboutus__title">
                <p>Доставка и оплата</p>
            </div>
            <div class="aboutus__list_title">
                <p>Информация о доставке:</p>
            </div>
            <div class="delivery__subtitle">
                <p>Минимальный оптовый заказ – один ящик.</p>
            </div>
            <div class="aboutus__subtitle">
                <p>Звоните, чтобы оформить покупку, в любое удобное для вас время. Соберем максимально оперативно и
                    отправим подходящим для вас способом Новой Почтой или другой почтовой службой. При заказе от 20
                    ящиков доставим заказ за наш счет (кроме шлепанцев из материала ЭВА, ПВХ)! Ответственность за
                    сохранность товара в процессе доставки несет компания-перевозчик.</p>
            </div>
            <div class="aboutus__list_title">
                <p>Способы оплаты:</p>
            </div>
            <div class="aboutus__list">
                <ul>
                    <li>
                        <span>Полная предоплата на карту. </span>
                        Сумму сообщит наш менеджер по телефону после формирования заказа.</li>
                    <li>
                        <span>Наложенный платеж (по предоплате 15%). </span>
                        Все просто – оплачиваете небольшой процент от суммы покупки и мы отправляем ваш заказ. При
                        получении доплачиваете оставшиеся деньги и проверяете полученный товар.</li>
                    <li>
                        <span>Наложенный платеж без предоплаты. </span>
                        Специально для наших постоянных клиентов! Отправляем ваш заказ наложенным платежом без
                        предоплаты! Деньги вы вносите уже после получения товара. Просим обязательно сообщить нам о том,
                        что оплатили покупку, и сохранить чек.</li>
                </ul>
            </div>
        </div>
    </div>
</section>