<section class="checkout">
    <div class="main-bread-crumbs">
        <div class="main-bread-crumbs_wrapper">
            <a href="">Главная страница</a>
            <span><img src="img/icons/arrow_small.svg" alt=""></span>
            <a href="" class="main-bread-crumbs_active">Информация</a>
        </div>
    </div>
    <div class="container">
        <div class="checkout__title">
            <p>Оформление заказа</p>
        </div>
        <form action="" class="checkout__desktop">
            <div class="checkout__desktop_inputs">
                <div class="wrap">
                    <p>Имя</p>
                    <input type="text" placeholder="Введиете ваше имя ">
                </div>
                <div class="wrap">
                    <p>Фамилия</p>
                    <input type="text" placeholder="Введиете вашу фамилию">
                </div>
                <div class="wrap">
                    <p>Номер телефона</p>
                    <input type="tel" placeholder="Введиете ваш номер телефона">
                </div>
                <div class="wrap">
                    <p>Email</p>
                    <input type="email" placeholder="Введиете ваш Email">
                </div>
                <div class="border"></div>
                <div class="checkout__subtitle">
                    <p>Способ доставки</p>
                </div>
                <div class="wrap-checkbox">
                    <div class="checkbox">
                        <input type="radio" id="np" name="posta">
                        <label for="np">
                            <p>Новая почта</p>
                        </label>
                    </div>
                    <div class="checkbox">
                        <input type="radio" id="up" name="posta">
                        <label for="up">
                            <p>Укр почта</p>
                        </label>
                    </div>
                </div>
                <div class="wrap-checkbox wrap-checkbox_bg">
                    <div class="checkbox">
                        <input type="radio" id="otd" name="posta-type">
                        <label for="otd">
                            <p>Доставка на отделение</p>
                        </label>
                    </div>
                    <div class="checkbox">
                        <input type="radio" id="kur" name="posta-type">
                        <label for="kur">
                            <p>Доставка курьером</p>
                        </label>
                    </div>
                </div>
                <div class="wrap">
                    <p>Город</p>
                    <input type="text" placeholder="Введиете ваш город">
                </div>
                <div class="wrap">
                    <p>Номер
                        отделения</p>
                    <input type="text" placeholder="Введите номер отделения">
                </div>
                <div class="border"></div>
                <div class="checkout__subtitle">
                    <p>Способ оплаты</p>
                </div>
                <div class="wrap-checkbox">
                    <div class="checkbox">
                        <input type="radio" id="privat" name="oplata">
                        <label for="privat">
                            <p>Private 24 Online</p>
                        </label>
                    </div>
                    <div class="checkbox">
                        <input type="radio" id="nal" name="oplata">
                        <label for="nal">
                            <p>Наложеным платежом</p>
                        </label>
                    </div>
                </div>
                <div class="wrap-textarea">
                    <div class="wrap-textarea-title">
                        <p>Комментарий к заказу</p>
                    </div>
                    <div class="wrap">
                        <p>Комментарий к заказу</p>
                        <textarea placeholder="Введиете ваш комментарий"></textarea>
                    </div>
                </div>
                <input type="submit" value="Подтвердить">
            </div>
            <div class="checkout__desktop_edit">
                <a href="#" class="checkout__desktop_edit_link"></a>
                <div class="checkout__desktop_edit_list">
                    <ul>
                        <li>
                            <div class="checkout__desktop_edit_item">
                                <div class="checkout__desktop_edit_item_img">
                                    <img src="" alt="">
                                </div>
                                <div class="checkout__desktop_edit_item_title">
                                    <p>Босоножки 00001-beige</p>
                                    <span>3 ящика</span>
                                </div>
                                <div class="checkout__desktop_edit_item_price">
                                    <p>480.00 ₴</p>
                                </div>
                                <button class="checkout__desktop_edit_item_remove">
                                    <i class="i-delete"></i>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="checkout__desktop_edit_item">
                                <div class="checkout__desktop_edit_item_img">
                                    <img src="" alt="">
                                </div>
                                <div class="checkout__desktop_edit_item_title">
                                    <p>Босоножки 00001-beige</p>
                                    <span>3 ящика</span>
                                </div>
                                <div class="checkout__desktop_edit_item_price">
                                    <p>480.00 ₴</p>
                                </div>
                                <button class="checkout__desktop_edit_item_remove">
                                    <i class="i-delete"></i>
                                </button>
                            </div>
                        </li>
                        <li>
                            <div class="checkout__desktop_edit_item">
                                <div class="checkout__desktop_edit_item_img">
                                    <img src="" alt="">
                                </div>
                                <div class="checkout__desktop_edit_item_title">
                                    <p>Босоножки 00001-beige</p>
                                    <span>3 ящика</span>
                                </div>
                                <div class="checkout__desktop_edit_item_price">
                                    <p>480.00 ₴</p>
                                </div>
                                <button class="checkout__desktop_edit_item_remove">
                                    <i class="i-delete"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="checkout__desktop_edit_footer">
                    <div class="checkout__desktop_edit_footer_amount">
                        <p>3 товара на сумму</p>
                        <span>3000 ₴ </span>
                    </div>
                    <div class="border"></div>
                    <div class="checkout__desktop_edit_footer_total">
                        <p>Итого к оплате:</p>
                        <span>3000 ₴ </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>