.checkout {
    position: relative;
    padding-top: 16px;
    background: #F6F6F6;
    padding-bottom: 50px;

    &:before {
        content: '';
        width: 100%;
        background: linear-gradient(180deg, rgba(29, 159, 230, 0.06) 0%, rgba(204, 221, 255, 0) 100%);
        height: 429px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        pointer-events: none;
    }

    &__title {
        font-weight: 500;
        font-size: 38px;
        line-height: 46px;
        padding-top: 12px;
        font-family: Fira Sans Condensed;
        padding-left: 20px;
    }

    &__subtitle {
        font-size: 24px;
        line-height: 30px;
        font-family: Fira Sans Condensed;
        padding-bottom: 26px;
    }

    &__desktop {
        justify-content: space-between;
        align-items: flex-start;
        display: none;

        @media(min-width:1196px) {
            display: flex;
        }

        &_inputs {
            padding-top: 22px;
            max-width: 587px;
            width: 100%;
        }

        &_edit {
            width: 100%;
            max-width: 539px;
            position: sticky;
            top: 10px;
            padding-top: 22px;

            &_wrap {
                padding-left: 72px;
                position: relative;

                &:before {
                    content: '';
                    left: 0;
                    top: -80px;
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    background-color: white;
                }
            }

            &_header {
                position: relative;
            }

            &_link {
                position: absolute;
                top: -40px;
                font-size: 13px;
                line-height: 33px;
                text-decoration-line: underline;
                text-transform: uppercase;
                color: #25B4E5;
                font-family: Gotham Pro;

                &:hover {
                    text-decoration: none;
                }
            }

            &_item {
                width: 100%;
                background: #FFFFFF;
                border-radius: 10px;
                margin-bottom: 13px;
                padding-left: 18px;
                height: 68px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                position: relative;

                &_img {
                    width: 66px;
                    height: 66px;
                    margin-right: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &_title {
                    width: 226px;
                    overflow: hidden;
                    padding-top: 12px;

                    p {
                        padding-bottom: 1px;
                    }

                    span {
                        font-family: Fira Sans Condensed;
                        text-align: right;
                        color: #5C6773;
                    }
                }

                &_price {
                    font-family: Fira Sans Condensed;
                    font-size: 18px;
                    line-height: 22px;
                    padding-top: 33px;
                }

                &_remove {
                    position: absolute;
                    top: 27px;
                    right: 26px;
                    background: none;
                    color: #5C6773;

                    &:hover {
                        color: black;
                    }
                }
            }

            &_footer {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-top: 3px;

                &_amount {
                    display: flex;
                    align-items: center;

                    p {
                        font-family: Fira Sans Condensed;
                        font-size: 18px;
                        line-height: 24px;
                        letter-spacing: 0.3px;
                        color: #5C6773;
                        padding-right: 60px;
                    }

                    span {
                        font-family: Fira Sans Condensed;
                        font-size: 22px;
                        line-height: 25px;
                        color: #000000;
                    }
                }

                &_total {
                    display: flex;
                    align-items: center;
                    padding-top: 5px;

                    p {
                        font-family: Fira Sans Condensed;
                        font-size: 18px;
                        line-height: 24px;
                        letter-spacing: 0.3px;
                        color: #5C6773;
                        padding-right: 28px;
                    }

                    span {
                        font-family: Fira Sans Condensed;
                        font-size: 34px;
                        line-height: 44px;
                        color: #1D9FE6;
                    }
                }
            }
        }
    }

    &__mob {
        @media(min-width:1196px) {
            display: none;
        }

        padding-top: 14px;

        .title {
            display: none;
        }

        .steps {
            padding-bottom: 16px;

            ul {
                display: flex;
                justify-content: space-between;

                @media (max-width:900px) {
                    overflow: scroll;
                    width: auto;
                    
                    padding-right: 10px;
                    padding-left: 10px;
                }

                li {

                    @media (max-width:900px) {
                        min-width: fit-content;
                        overflow: scroll;
                        flex-wrap: nowrap;
                        max-width: none;
                        padding-right: 20px;
                        padding-left: 20px;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        font-family: Fira Sans Condensed;
                        font-size: 20px;
                        line-height: 25px;
                        color: #5C6773;

                        .current-info {
                            display: none;
                        }

                        .number {
                            width: 25px;
                            height: 25px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: #5C6773;
                            border-radius: 50%;
                            margin-right: 6px;
                            color: white;

                        }
                    }

                    &.current {
                        a {
                            color: #25B4E5;

                            span {
                                background: #25B4E5;
                            }
                        }
                    }
                }
            }
        }

        .checkout_submit{
            margin-top: 20px;
            padding: 0px 20px;

            #address{
                margin: 0;
                width: 100%;
            }
        }

        .content{
            .checkout__desktop_edit{
                .checkout__desktop_edit_wrap{
                    width: 100%;
                    padding: 0;
                    .checkout__desktop_edit_list{
                        ul{
                            margin-left: 20px;
                            margin-right: 20px;
                            li{
                                .checkout__desktop_edit_item{
                                    padding-top: 8px;
                                    padding-bottom: 8px;
                                    height: 100%;
                                    .checkout__desktop_edit_item_img{

                                    }
                                    .checkout__desktop_edit_item_info{
                                        .checkout__desktop_edit_item_info_title{
                                            font-size: 14px
                                        }
                                        .checkout__desktop_edit_item_info_count{
                                            color: #5C6773;
                                            font-family: Fira Sans Condensed;
                                            font-size: 14px;
                                        }
                                        .checkout__desktop_edit_item_info_price{
                                            font-family: Fira Sans Condensed;
                                            font-size: 18px;
                                        }
                                    }
                                    .checkout__desktop_edit_item_remove{
                                        top:12px;
                                        right: 20px;
                                    }
                                }
                            }
                        }
                    }
                    .checkout__desktop_edit_footer{
                        margin: 20px;
                    }
                }
                .checkout_submit{

                }
                .checkout__desktop_edit_busket{
                    display: block;
                    position: relative;
                    height: 30px;
                    margin-top: 30px;
                    .checkout__desktop_edit_link_mobile{
                        display: block;
                        position: relative;
                        
                        font-family: Open Sans,sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 13px;
                        line-height: 18px;
                        text-transform: uppercase;
                        color: #25b4e5;
                        cursor: pointer;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        outline: none;
                        text-align: center;
                    }
                }
            }
        }

        .actions{
            ul{
                margin: 0px 20px;
                li{
                    margin: 0px 80px;
                    -webkit-tap-highlight-color: transparent;
                    box-sizing: border-box;
                    font-family: inherit;
                    overflow: visible;
                    outline: none;
                    transition: all .5s ease;
                    resize: none;
                    border: none;
                    text-decoration: none;
                    padding: 0;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #25b4e5;
                    box-shadow: 0 2px 10px rgba(41,96,204,.3),0 2px 4px rgba(41,96,204,.3);
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 18px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #fff;
                    width: auto;
                    height: 44px;
                    margin-top: 10px;

                    &:first-child{
                        display: none !important;
                    }
                    
                    &:last-child{
                        display: none !important;
                    }
                }
            }
        }
    }
}

form {

    .wrap {

        @media(max-width:900px){
            display:block;
            margin-left: 20px;
            margin-right: 20px;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;

        .a-dropdown {
            width: 100%;
            max-width: 459px;
        }

        p {
            font-weight: 600;
            font-size: 13px;
            line-height: 18px;
            color: #5C6773;
        }

        input {
            @media(max-width:900px){
                width: 100%;
                margin-bottom: 2px;
            }

            font-size: 13px;
            line-height: 18px;
            background: #FFFFFF;
            border-radius: 10px;
            width: 459px;
            height: 44px;
            padding-left: 17px;

            &::placeholder {
                color: #929292;
            }
        }

        textarea {
            background: #FFFFFF;
            border-radius: 10px;
            width: 586px;
            height: 99px;
            padding-top: 13px;
            padding-left: 17px;
        }

        &-checkbox {
            display: flex;
            margin-bottom: 42px;

            &_bg {
                background: #DEE7ED;
                border-radius: 10px;
                height: 35px;
                margin-bottom: 35px;

                .checkbox {
                    margin: 0;
                    width: 50%;
                    height: 100%;

                    label {
                        font-size: 16px;
                        line-height: 19px;
                        color: #5C6773;
                        background-image: none;
                        border-radius: 10px;
                        font-size: 16px;
                        line-height: 19px;
                        color: #5C6773;
                        font-family: Fira Sans Condensed;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                    }

                    input:checked+label {
                        background: #FFFFFF;
                        color: black;
                    }
                }
            }
        }

        &-textarea {
            padding-bottom: 20px;

            &-title {
                font-size: 13px;
                line-height: 18px;
                text-decoration-line: underline;
                text-transform: uppercase;
                color: #25B4E5;
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                }
            }

            .wrap {
                flex-direction: column;
                align-items: flex-start;
                display: none;

                &.active {
                    display: block;
                }

                p {
                    margin-bottom: 14px;
                }
            }
        }

        &__row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            width: 100%;
            margin-left: 20px;
            margin-right: 20px;


            .wrap {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                p {
                    margin-bottom: 6px;
                }
            }
        }

        label.error{
            color:red;
        }
    }

    .wrap-checkbox{
        @media(max-width:900px){
            margin-left: 20px;
            margin-right: 20px;
        }
    }

    input[type="submit"] {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #25B4E5;
        box-shadow: 0px 2px 10px rgba(41, 96, 204, 0.3), 0px 2px 4px rgba(41, 96, 204, 0.3);
        border-radius: 10px;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        width: 343px;
        height: 44px;

        &:hover {
            box-shadow: none;
        }
    }

    .checkout{
        &__subtitle{
            @media(max-width:900px){
                margin-left: 20px;
            }
        }
    }

    .wrap-textarea{
        margin-left: 20px;
        margin-right: 20px;
    }

    .border {
        width: 100%;
        height: 1px;
        margin-top: 10px;
        margin-bottom: 15px;
        background-color: white;
    }
}