<main>
    <div class="main-products-block">
        <div class="main-bread-crumbs">
            <div class="main-bread-crumbs_wrapper">
                <a href="">Главная страница</a>
                <span><img src="img/icons/arrow_small.svg" alt=""></span>
                <a href="">Женская обувь</a>
                <span><img src="img/icons/arrow_small.svg" alt=""></span>
                <a href="">Туфли</a>
                <span><img src="img/icons/arrow_small.svg" alt=""></span>
                <a href="" class="main-bread-crumbs_active">Босоножки 00001-beige</a>
            </div>
        </div>
        <div class="main-product-page_info">
            <!-- SLIDER -->
            <div class="cd-slider-wrapper">
                <ul class="cd-slider" data-step1="M1402,800h-2V525V0h1c0.6,0,1,0.4,1,1V800z"
                    data-step2="M1400,800H739L427,523L760,0h639c0.6,0,1,0.4,1,1V800z"
                    data-step3="M1400,800H0V521V0h1399c0.6,0,1,0.4,1,1V800z"
                    data-step4="M-2,800h2V525V0h-1c-0.6,0-1,0.4-1,1V800z"
                    data-step5="M0,800h661l312-277L640,0L1,0C0.4,0,0,0.4,0,1L0,800z"
                    data-step6="M0,800h1400V521V0L1,0C0.4,0,0,0.4,0,1L0,800z">
                    <li class="visible">
                        <div class="cd-svg-wrapper">
                            <svg viewBox="0 0 1400 800">
                                <title>Aimated SVG</title>
                                <defs>
                                    <clipPath id="cd-image-1">
                                        <path id="cd-changing-path-1" d="M1400,800H0V521V0h1399c0.6,0,1,0.4,1,1V800z" />
                                    </clipPath>
                                </defs>

                                <image height='800px' width="1400px" clip-path="url(#cd-image-1)"
                                    xlink:href="img/images/cardImage1.jpg"></image>
                            </svg>
                        </div> <!-- .cd-svg-wrapper -->
                    </li>

                    <li>
                        <div class="cd-svg-wrapper">
                            <svg viewBox="0 0 1400 800">
                                <title>Aimated SVG</title>
                                <defs>
                                    <clipPath id="cd-image-2">
                                        <path id="cd-changing-path-2" d="M1400,800H0V521V0h1399c0.6,0,1,0.4,1,1V800z" />
                                    </clipPath>
                                </defs>

                                <image height='800px' width="1400px" clip-path="url(#cd-image-2)"
                                    xlink:href="img/images/cardImage2.jpg"></image>
                            </svg>
                        </div> <!-- .cd-svg-wrapper -->
                    </li>

                    <li>
                        <div class="cd-svg-wrapper">
                            <svg viewBox="0 0 1400 800">
                                <title>Aimated SVG</title>
                                <defs>
                                    <clipPath id="cd-image-3">
                                        <path id="cd-changing-path-3" d="M1400,800H0V521V0h1399c0.6,0,1,0.4,1,1V800z" />
                                    </clipPath>
                                </defs>

                                <image height='800px' width="1400px" clip-path="url(#cd-image-3)"
                                    xlink:href="img/images/cardImage1.jpg"></image>
                            </svg>
                        </div> <!-- .cd-svg-wrapper -->
                    </li>

                    <li>
                        <div class="cd-svg-wrapper">
                            <svg viewBox="0 0 1400 800">
                                <title>Aimated SVG</title>
                                <defs>
                                    <clipPath id="cd-image-4">
                                        <path id="cd-changing-path-4" d="M1400,800H0V521V0h1399c0.6,0,1,0.4,1,1V800z" />
                                    </clipPath>
                                </defs>

                                <image height='800px' width="1400px" clip-path="url(#cd-image-4)"
                                    xlink:href="img/images/cardImage2.jpg"></image>
                            </svg>
                        </div> <!-- .cd-svg-wrapper -->
                    </li>

                </ul> <!-- .cd-slider -->

                <ul class="cd-slider-navigation">
                    <li class="first_slider_button"><a href="#0" class="next-slide">
                            <img src="img/icons/sliderIcon.svg" alt="">
                        </a></li>
                    <li><a href="#0" class="prev-slide">
                            <img src="img/icons/sliderIcon.svg" alt="">
                        </a></li>
                </ul> <!-- .cd-slider-navigation -->

                <ol class="cd-slider-controls">
                    <li class="selected"><a href="#0"><em>Item 1</em></a></li>
                    <li><a href="#0"><em>Item 2</em></a></li>
                    <li><a href="#0"><em>Item 3</em></a></li>
                    <li><a href="#0"><em>Item 4</em></a></li>
                </ol> <!-- .cd-slider-controls -->
            </div> <!-- .cd-slider-wrapper -->
            <div class="main-products-page-info_text">
                <h3>Босоножки 00001-beige</h3>
                <p>Модель: Zoom-00002-beige</p>
                <h4>Пар в ящике (<span>8</span>)</h4>
                <div class="main-products-page_list_prices">
                    <div class="main-products-page_list_item">
                        <p>Цена за пару</p>
                        <span>60.00₴</span>
                    </div>
                    <div class="main-products-page_list_item">
                        <p>Цена за ящик</p>
                        <span>480.00₴</span>
                    </div>
                </div>
                <div class="main-products-page-info_control">
                    <form action="">
                        <div class="counter-value_block">
                            <p>Кол-во ящиков</p>
                            <div id="counter_products_prev">
                                <svg width="6" height="12" viewBox="0 0 6 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.499756 6.6247C0.207581 6.25948 0.20758 5.74052 0.499755 5.37531L4.21913 0.726088C4.80964 -0.0120499 6 0.405504 6 1.35078L6 10.6492C6 11.5945 4.80964 12.0121 4.21913 11.2739L0.499756 6.6247Z"
                                        fill="#9DA8B3" />
                                </svg>
                            </div>
                            <input type="number" name="counter_products" id="counter_products" value="1">
                            <div id="counter_products_next">
                                <svg width="6" height="13" viewBox="0 0 6 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.50024 7.1247C5.79242 6.75948 5.79242 6.24052 5.50024 5.87531L1.78087 1.22609C1.19036 0.48795 6.66338e-08 0.905504 9.96893e-08 1.85078L4.24847e-07 11.1492C4.57903e-07 12.0945 1.19036 12.5121 1.78087 11.7739L5.50024 7.1247Z"
                                        fill="#9DA8B3" />
                                </svg>
                            </div>
                        </div>
                        <button class="btn-animate" type="submit">Купить <img src="img/icons/whiteCart.svg"
                                alt=""></button>
                    </form>
                </div>
                <a href="" class="main-products-page-info_favorite"><img src="img/icons/heartGrey.svg" alt="">В
                    избранное</a>
            </div>
            <div class="main-products-page-info_desription">
                <div class="main-products-page-info_control_panel">
                    <label for="characteristic" class="main-product-info_control_panel_active">
                        <input type="radio" name="description" id="characteristic">
                        <p>Характеристики</p>
                    </label>
                    <label for="info_text">
                        <input type="radio" name="description" id="info_text">
                        <p>Описание</p>
                    </label>
                </div>
                <div class="main-products-page_list_characteristic">
                    <div class="main-products-page_list_characteristic_item">
                        <span>Артикул:</span>
                        <p>GoldStar-9999-17-3 </p>
                    </div>
                    <div class="main-products-page_list_characteristic_item">
                        <span>Сезон:</span>
                        <p>Весна/осень</p>
                    </div>
                    <div class="main-products-page_list_characteristic_item">
                        <span>Тип обуви:</span>
                        <p>Кроссовки</p>
                    </div>
                    <div class="main-products-page_list_characteristic_item">
                        <span>Размеры:</span>
                        <p>37-41</p>
                    </div>
                    <div class="main-products-page_list_characteristic_item">
                        <span>Цвет:</span>
                        <p>Графит</p>
                    </div>
                    <div class="main-products-page_list_characteristic_item">
                        <span>Материал верха:</span>
                        <p>Текстиль</p>
                    </div>
                    <div class="main-products-page_list_characteristic_item">
                        <span>Материал подошвы:</span>
                        <p>Резина</p>
                    </div>
                    <div class="main-products-page_list_characteristic_item">
                        <span>Пар в ящике:</span>
                        <p>8</p>
                    </div>
                    <div class="main-products-page_list_characteristic_item">
                        <span>Производитель:</span>
                        <p>Китай</p>
                    </div>
                </div>
                <div class="main-products-page_list_description">
                    В оптовом интернет-магазине "Shlepki" – только качественная обувь по ценам от производителя.
                    Собираем заказы оперативно и каждую неделю пополняем ассортимент новинками. Хотим, чтобы у вас был
                    большой и разнообразный выбор для покупки.
                    Теперь, чтобы купить обувь оптом
                    в Одессе не нужно никуда ехать! Просто
                    заходите на сайт, выбирайте интересующий вас товар и оформляйте заказ в несколько кликов!
                </div>
            </div>
        </div>
    </div>
    <div class="main-products main-block-wrapper">
        <div class="main-title">Похожие товары</div>
        <!-- CARDS PRODUCT LIST -->
        <div class="main-product-list">
            <!-- CARD PRODUCT -->
            <div class="main-product-list_item">
                <img class="product-favorite" src="img/icons/greyHeart.svg" alt="">
                <a href="" class="preview-product"><img src="img/images/cardImage1.jpg" alt=""></a>
                <p class="product-title">Босоножки 00001-beige</p>
                <p class="product-model">Модель: Zoom-00002-beige</p>
                <p class="product-value">Пар в ящике (8)</p>
                <div class="product-list-prices">
                    <div class="product-list-prices_item">
                        <span>Цена за пару</span>
                        <p>60.00 ₴</p>
                    </div>
                    <div class="product-list-prices_item">
                        <span>Цена за ящик</span>
                        <p>480.00 ₴ </p>
                    </div>
                </div>
                <a href="" class="product-button-cart">В корзину <img src="img/icons/whiteCart.svg" alt=""></a>
            </div>
            <div class="main-product-list_item">
                <img class="product-favorite" src="img/icons/greyHeart.svg" alt="">
                <a href="" class="preview-product"><img src="img/images/cardImage2.jpg" alt=""></a>
                <p class="product-title">Босоножки 00001-beige</p>
                <p class="product-model">Модель: Zoom-00002-beige</p>
                <p class="product-value">Пар в ящике (8)</p>
                <div class="product-list-prices">
                    <div class="product-list-prices_item">
                        <span>Цена за пару</span>
                        <p>60.00 ₴</p>
                    </div>
                    <div class="product-list-prices_item">
                        <span>Цена за ящик</span>
                        <p>480.00 ₴ </p>
                    </div>
                </div>
                <a href="" class="product-button-cart">В корзину <img src="img/icons/whiteCart.svg" alt=""></a>
            </div>
            <div class="main-product-list_item">
                <img class="product-favorite" src="img/icons/greyHeart.svg" alt="">
                <a href="" class="preview-product"><img src="img/images/cardImage2.jpg" alt=""></a>
                <p class="product-title">Босоножки 00001-beige</p>
                <p class="product-model">Модель: Zoom-00002-beige</p>
                <p class="product-value">Пар в ящике (8)</p>
                <div class="product-list-prices">
                    <div class="product-list-prices_item">
                        <span>Цена за пару</span>
                        <p>60.00 ₴</p>
                    </div>
                    <div class="product-list-prices_item">
                        <span>Цена за ящик</span>
                        <p>480.00 ₴ </p>
                    </div>
                </div>
                <a href="" class="product-button-cart">В корзину <img src="img/icons/whiteCart.svg" alt=""></a>
            </div>
            <div class="main-product-list_item">
                <img class="product-favorite" src="img/icons/greyHeart.svg" alt="">
                <a href="" class="preview-product"><img src="img/images/cardImage2.jpg" alt=""></a>
                <p class="product-title">Босоножки 00001-beige</p>
                <p class="product-model">Модель: Zoom-00002-beige</p>
                <p class="product-value">Пар в ящике (8)</p>
                <div class="product-list-prices">
                    <div class="product-list-prices_item">
                        <span>Цена за пару</span>
                        <p>60.00 ₴</p>
                    </div>
                    <div class="product-list-prices_item">
                        <span>Цена за ящик</span>
                        <p>480.00 ₴ </p>
                    </div>
                </div>
                <a href="" class="product-button-cart">В корзину <img src="img/icons/whiteCart.svg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="main-block-wrapper">
        <div class="main-navigation">
            <nav>
                <ul>
                    <li><a href="">Распродажа</a></li>
                    <li><a href="">Новинки</a></li>
                    <li><a href="">Женская</a></li>
                    <li><a href="">Мужская</a></li>
                    <li><a href="">Детская</a></li>
                    <li><a href="">Украинская обувь</a></li>
                    <li><a href="">Бренды</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="main-description">
        <h2 class="main-description_title">Качественная обувь оптом </h2>
        <p>
            В оптовом интернет-магазине "Shlepki" – только качественная обувь по ценам от производителя. Собираем заказы
            оперативно и каждую неделю пополняем ассортимент новинками. Хотим, чтобы у вас был большой и разнообразный
            выбор для покупки. Теперь, чтобы купить обувь оптом в Одессе не нужно никуда ехать! Просто заходите на сайт,
            выбирайте интересующий вас товар и оформляйте заказ в несколько кликов! <br>
            <br>
            Мужская, женская, детская обувь – весь наш товар закуплен у проверенных надежных производителей – зарубежных
            и украинских. Мы знаем, что для вас важно предлагать своим покупателям только качественную обувь. Поэтому
            внимательно относимся к отбору продукции, которую публикуем на сайте для продажи.<br>
            Приобретайте в магазине "Shlepki" сезонную обувь, спортивную и праздничную. Из натуральной кожи,
            кожзаменителя, замши или текстиля.<br>
            <br>
            Если вы планируете регулярно покупать обувь оптом в Одессе, предлагаем индивидуальные условия
            сотрудничества. Мы ценим каждого клиента и постоянно организовываем для вас акции и специальные
            предложения.<br>
        </p>
        <div class="main-description-hider">
            <button>
                <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.146447 0.146447C0.320013 -0.0271197 0.589437 -0.0464049 0.784306 0.0885912L0.853553 0.146447L4.5 3.793L8.14645 0.146447C8.32001 -0.0271197 8.58944 -0.0464049 8.78431 0.0885912L8.85355 0.146447C9.02712 0.320013 9.0464 0.589437 8.91141 0.784306L8.85355 0.853553L4.85355 4.85355C4.67999 5.02712 4.41056 5.0464 4.21569 4.91141L4.14645 4.85355L0.146447 0.853553C-0.0488155 0.658291 -0.0488155 0.341709 0.146447 0.146447Z"
                        fill="white" />
                </svg>
            </button>
        </div>
    </div>

    <div class="popup popup-carousel">
        <div class="carousel_button left">
            <svg width="14" height="33" viewBox="0 0 18 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.499756 17.1247C0.207581 16.7595 0.207582 16.2405 0.499757 15.8753L12.2191 1.22608C12.8096 0.487946 14 0.905504 14 1.85078L14 31.1492C14 32.0945 12.8096 32.5121 12.2191 31.7739L0.499756 17.1247Z" fill="white"/>
            </svg>
        </div>
        <div class="popup__wrap">
            <div>
                <div class="popup__close">
                    <i class="i-close"></i>
                </div>
                <div class="popup__carousel">
                    <div class="image-item active">
                        <img src="img/images/cardImage1.jpg" alt="">
                    </div>
                    <div class="image-item">
                        <img src="img/images/cardImage1.jpg" alt="">
                    </div>
                    <div class="image-item">
                        <img src="img/images/cardImage1.jpg" alt="">
                    </div>
                    <div class="image-item">
                        <img src="img/images/cardImage1.jpg" alt="">
                    </div>
                </div>
                <div class="popup__carousel-navigation-list">
                    <div class="navigation-item active"></div>
                    <div class="navigation-item"></div>
                    <div class="navigation-item"></div>
                    <div class="navigation-item"></div>
                </div>
            </div>
        </div>
        <div class="carousel_button right">
            <svg width="14" height="33" viewBox="0 0 14 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5002 17.1247C13.7924 16.7595 13.7924 16.2405 13.5002 15.8753L1.78087 1.22608C1.19036 0.487946 8.32922e-08 0.905504 1.24612e-07 1.85078L1.40529e-06 31.1492C1.44661e-06 32.0945 1.19036 32.5121 1.78087 31.7739L13.5002 17.1247Z" fill="white"/>
            </svg>
         </div>
    </div>
</main>