<main>
    <section class="basket">
        <div class="container">
            <div class="main-bread-crumbs">
                <div class="main-bread-crumbs_wrapper">
                    <a href="">Главная страница</a>
                    <span><img src="img/icons/arrow_small.svg" alt=""></span>
                    <a href="" class="main-bread-crumbs_active">Корзина</a>
                </div>
            </div>
        </div>
        <div class="basket__wrap">
            <div class="container">
                <div class="basket__title">
                    <p>Корзина</p>
                    <div class="basket__title_total">
                        <p><span>5</span> товаров на 3000 ₴ </p>
                    </div>
                </div>
                <div class="basket__list">
                    <div class="basket__list_header">
                        <div class="basket__list_header_item basket__list_header_item_kod">
                            <p>Код</p>
                        </div>
                        <div class="basket__list_header_item basket__list_header_item_name">
                            <p>Наеменование</p>
                        </div>
                        <div class="basket__list_header_item basket__list_header_item_nal">
                            <p>Наличие</p>
                        </div>
                        <div class="basket__list_header_item basket__list_header_item_price">
                            <p>Цена за пару</p>
                        </div>
                        <div class="basket__list_header_item basket__list_header_item_price-box">
                            <p>Цена за ящик</p>
                        </div>
                        <div class="basket__list_header_item basket__list_header_item_amount">
                            <p>Количество</p>
                        </div>
                        <div class="basket__list_header_item basket__list_header_item_suma">
                            <p>Сумма</p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="basket__list_item">
                                <div class="basket__list_item_img">
                                    <img src="img/images/cardImage1.jpg" alt="">
                                </div>
                                <div class="basket__list_item_kod">
                                    <p><span class="basket__list_item_kod_mobile">Модель: </span>Zoom-00002-beige</p>
                                </div>
                                <div class="basket__list_item_name">
                                    <p>Босоножки 00001-beige</p>
                                </div>
                                <div class="basket__list_item_nal">
                                    <p>В наличии</p>
                                </div>
                                <div class="basket__list_item_price">
                                    <p><span class="basket__list_item_price_mobile">Цена за пару: </span> 60.00 ₴ </p>
                                </div>
                                <div class="basket__list_item_price-box">
                                    <p><span class="basket__list_item_price-box_mobile">Цена за ящик: </span>480.00 ₴ </p>
                                </div>
                                <div class="basket__list_item_counter">
                                    <div class="basket__list_item_counter_wrap">
                                        <button type="button" id="sub" class="sub"><i class="i-arrow"></i></button>
                                        <input type="text" id="1" value="1" min="1">
                                        <button type="button" id="add" class="add"><i class="i-arrow"></i></button>
                                    </div>
                                </div>
                                <div class="basket__list_item_summ">
                                    <p>600.00 ₴ </p>
                                </div>
                                <div class="basket__list_item_remove">
                                    <button>
                                        <i class="i-delete"></i>
                                    </button>
                                </div>
                                <div class="basket__list_item_mobile">
                                    <div class="basket__list_item_kod_mobile">
                                        <p><span class="basket__list_item_kod_mobile">Модель: </span>Zoom-00002-beige</p>
                                    </div>
                                    <div class="basket__list_item_name_mobile">
                                        <p>Босоножки 00001-beige</p>
                                    </div>
                                    <div class="basket__list_item_nal_mobile">
                                        <p>В наличии</p>
                                    </div>
                                    <div class="basket__list_item_price_mobile">
                                        <p>
                                            <span class="basket__list_item_price_mobile_title">Цена за штуку: </span>
                                            <span class="basket__list_item_price_mobile_price">60.00 ₴</span>
                                        </p>
                                    </div>
                                    <div class="basket__list_item_price-box_mobile">
                                        <p>
                                            <span class="basket__list_item_price-box_mobile_title">Цена за ящик: </span>
                                            <span class="basket__list_item_price-box_mobile_price">480.00 ₴</span>
                                        </p>
                                    </div>
                                    <div class="basket__list_item_counter_sum_mobile">
                                        <div class="basket__list_item_counter_mobile">
                                            <div class="basket__list_item_counter_wrap">
                                                <button type="button" id="sub" class="sub"><i class="i-arrow"></i></button>
                                                <input type="text" id="1" value="1" min="1">
                                                <button type="button" id="add" class="add"><i class="i-arrow"></i></button>
                                            </div>
                                        </div>
                                        <div class="basket__list_item_summ_mobile">
                                            <p>600.00 ₴ </p>
                                        </div>
                                    </div>
                                    <div class="basket__list_item_remove_mobile">
                                        <button>
                                            <i class="i-delete"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="basket__list_item">
                                <div class="basket__list_item_img">
                                    <img src="img/images/cardImage1.jpg" alt="">
                                </div>
                                <div class="basket__list_item_kod">
                                    <p><span class="basket__list_item_kod_mobile">Модель: </span>Zoom-00002-beige</p>
                                </div>
                                <div class="basket__list_item_name">
                                    <p>Босоножки 00001-beige</p>
                                </div>
                                <div class="basket__list_item_nal">
                                    <p>В наличии</p>
                                </div>
                                <div class="basket__list_item_price">
                                    <p><span class="basket__list_item_price_mobile">Цена за пару: </span> 60.00 ₴ </p>
                                </div>
                                <div class="basket__list_item_price-box">
                                    <p><span class="basket__list_item_price-box_mobile">Цена за ящик: </span>480.00 ₴ </p>
                                </div>
                                <div class="basket__list_item_counter">
                                    <div class="basket__list_item_counter_wrap">
                                        <button type="button" id="sub" class="sub"><i class="i-arrow"></i></button>
                                        <input type="text" id="1" value="1" min="1">
                                        <button type="button" id="add" class="add"><i class="i-arrow"></i></button>
                                    </div>
                                </div>
                                <div class="basket__list_item_summ">
                                    <p>600.00 ₴ </p>
                                </div>
                                <div class="basket__list_item_remove">
                                    <button>
                                        <i class="i-delete"></i>
                                    </button>
                                </div>
                                <div class="basket__list_item_mobile">
                                    <div class="basket__list_item_kod_mobile">
                                        <p><span class="basket__list_item_kod_mobile">Модель: </span>Zoom-00002-beige</p>
                                    </div>
                                    <div class="basket__list_item_name_mobile">
                                        <p>Босоножки 00001-beige</p>
                                    </div>
                                    <div class="basket__list_item_nal_mobile">
                                        <p>В наличии</p>
                                    </div>
                                    <div class="basket__list_item_price_mobile">
                                        <p>
                                            <span class="basket__list_item_price_mobile_title">Цена за штуку: </span>
                                            <span class="basket__list_item_price_mobile_price">60.00 ₴</span>
                                        </p>
                                    </div>
                                    <div class="basket__list_item_price-box_mobile">
                                        <p>
                                            <span class="basket__list_item_price-box_mobile_title">Цена за ящик: </span>
                                            <span class="basket__list_item_price-box_mobile_price">480.00 ₴</span>
                                        </p>
                                    </div>
                                    <div class="basket__list_item_counter_sum_mobile">
                                        <div class="basket__list_item_counter_mobile">
                                            <div class="basket__list_item_counter_wrap">
                                                <button type="button" id="sub" class="sub"><i class="i-arrow"></i></button>
                                                <input type="text" id="1" value="1" min="1">
                                                <button type="button" id="add" class="add"><i class="i-arrow"></i></button>
                                            </div>
                                        </div>
                                        <div class="basket__list_item_summ_mobile">
                                            <p>600.00 ₴ </p>
                                        </div>
                                    </div>
                                    <div class="basket__list_item_remove_mobile">
                                        <button>
                                            <i class="i-delete"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="basket__list_item">
                                <div class="basket__list_item_img">
                                    <img src="img/images/cardImage1.jpg" alt="">
                                </div>
                                <div class="basket__list_item_kod">
                                    <p><span class="basket__list_item_kod_mobile">Модель: </span>Zoom-00002-beige</p>
                                </div>
                                <div class="basket__list_item_name">
                                    <p>Босоножки 00001-beige</p>
                                </div>
                                <div class="basket__list_item_nal">
                                    <p>В наличии</p>
                                </div>
                                <div class="basket__list_item_price">
                                    <p><span class="basket__list_item_price_mobile">Цена за пару: </span> 60.00 ₴ </p>
                                </div>
                                <div class="basket__list_item_price-box">
                                    <p><span class="basket__list_item_price-box_mobile">Цена за ящик: </span>480.00 ₴ </p>
                                </div>
                                <div class="basket__list_item_counter">
                                    <div class="basket__list_item_counter_wrap">
                                        <button type="button" id="sub" class="sub"><i class="i-arrow"></i></button>
                                        <input type="text" id="1" value="1" min="1">
                                        <button type="button" id="add" class="add"><i class="i-arrow"></i></button>
                                    </div>
                                </div>
                                <div class="basket__list_item_summ">
                                    <p>600.00 ₴ </p>
                                </div>
                                <div class="basket__list_item_remove">
                                    <button>
                                        <i class="i-delete"></i>
                                    </button>
                                </div>
                                <div class="basket__list_item_mobile">
                                    <div class="basket__list_item_kod_mobile">
                                        <p><span class="basket__list_item_kod_mobile">Модель: </span>Zoom-00002-beige</p>
                                    </div>
                                    <div class="basket__list_item_name_mobile">
                                        <p>Босоножки 00001-beige</p>
                                    </div>
                                    <div class="basket__list_item_nal_mobile">
                                        <p>В наличии</p>
                                    </div>
                                    <div class="basket__list_item_price_mobile">
                                        <p>
                                            <span class="basket__list_item_price_mobile_title">Цена за штуку: </span>
                                            <span class="basket__list_item_price_mobile_price">60.00 ₴</span>
                                        </p>
                                    </div>
                                    <div class="basket__list_item_price-box_mobile">
                                        <p>
                                            <span class="basket__list_item_price-box_mobile_title">Цена за ящик: </span>
                                            <span class="basket__list_item_price-box_mobile_price">480.00 ₴</span>
                                        </p>
                                    </div>
                                    <div class="basket__list_item_counter_sum_mobile">
                                        <div class="basket__list_item_counter_mobile">
                                            <div class="basket__list_item_counter_wrap">
                                                <button type="button" id="sub" class="sub"><i class="i-arrow"></i></button>
                                                <input type="text" id="1" value="1" min="1">
                                                <button type="button" id="add" class="add"><i class="i-arrow"></i></button>
                                            </div>
                                        </div>
                                        <div class="basket__list_item_summ_mobile">
                                            <p>600.00 ₴ </p>
                                        </div>
                                    </div>
                                    <div class="basket__list_item_remove_mobile">
                                        <button>
                                            <i class="i-delete"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="basket__list_item">
                                <div class="basket__list_item_img">
                                    <img src="img/images/cardImage1.jpg" alt="">
                                </div>
                                <div class="basket__list_item_kod">
                                    <p><span class="basket__list_item_kod_mobile">Модель: </span>Zoom-00002-beige</p>
                                </div>
                                <div class="basket__list_item_name">
                                    <p>Босоножки 00001-beige</p>
                                </div>
                                <div class="basket__list_item_nal">
                                    <p>В наличии</p>
                                </div>
                                <div class="basket__list_item_price">
                                    <p><span class="basket__list_item_price_mobile">Цена за пару: </span> 60.00 ₴ </p>
                                </div>
                                <div class="basket__list_item_price-box">
                                    <p><span class="basket__list_item_price-box_mobile">Цена за ящик: </span>480.00 ₴ </p>
                                </div>
                                <div class="basket__list_item_counter">
                                    <div class="basket__list_item_counter_wrap">
                                        <button type="button" id="sub" class="sub"><i class="i-arrow"></i></button>
                                        <input type="text" id="1" value="1" min="1">
                                        <button type="button" id="add" class="add"><i class="i-arrow"></i></button>
                                    </div>
                                </div>
                                <div class="basket__list_item_summ">
                                    <p>600.00 ₴ </p>
                                </div>
                                <div class="basket__list_item_remove">
                                    <button>
                                        <i class="i-delete"></i>
                                    </button>
                                </div>
                                <div class="basket__list_item_mobile">
                                    <div class="basket__list_item_kod_mobile">
                                        <p><span class="basket__list_item_kod_mobile">Модель: </span>Zoom-00002-beige</p>
                                    </div>
                                    <div class="basket__list_item_name_mobile">
                                        <p>Босоножки 00001-beige</p>
                                    </div>
                                    <div class="basket__list_item_nal_mobile">
                                        <p>В наличии</p>
                                    </div>
                                    <div class="basket__list_item_price_mobile">
                                        <p>
                                            <span class="basket__list_item_price_mobile_title">Цена за штуку: </span>
                                            <span class="basket__list_item_price_mobile_price">60.00 ₴</span>
                                        </p>
                                    </div>
                                    <div class="basket__list_item_price-box_mobile">
                                        <p>
                                            <span class="basket__list_item_price-box_mobile_title">Цена за ящик: </span>
                                            <span class="basket__list_item_price-box_mobile_price">480.00 ₴</span>
                                        </p>
                                    </div>
                                    <div class="basket__list_item_counter_sum_mobile">
                                        <div class="basket__list_item_counter_mobile">
                                            <div class="basket__list_item_counter_wrap">
                                                <button type="button" id="sub" class="sub"><i class="i-arrow"></i></button>
                                                <input type="text" id="1" value="1" min="1">
                                                <button type="button" id="add" class="add"><i class="i-arrow"></i></button>
                                            </div>
                                        </div>
                                        <div class="basket__list_item_summ_mobile">
                                            <p>600.00 ₴ </p>
                                        </div>
                                    </div>
                                    <div class="basket__list_item_remove_mobile">
                                        <button>
                                            <i class="i-delete"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="basket__footer">
                    <div class="basket__footer_total">
                        <p>Сумма: <span>3000 ₴</span></p>
                    </div>
                    <div class="basket__footer_btns">
                        <button class="basket__footer_btn btn-animate">
                            продолжить покупки
                        </button>
                        <button class="basket__footer_btn btn-aminate2">
                            Оформить заказ
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="basket__empty">
            <div class="container">
                <div class="basket__empty_icon">
                    <i class="i-empty-basket"></i>
                </div>
                <div class="basket__empty_title">
                    <p>Ваша корзина пуста</p>
                </div>
                <div class="basket__empty_subtitle">
                    <p>Но это легко исправить :)</p>
                </div>
                <a class="basket__empty_btn btn-animate">Перейти к покупкам</a>
            </div>
        </div>
    </section>
</main>