.favorite {
  background: linear-gradient(180deg, rgba(29, 159, 230, 0.06), #f6f6f6);
  padding-top: 16px;
  padding-bottom: 68px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    right: -10px;
    width: 912px;


    @media (max-width:900px){
      right: 0px;
      width: 100%;
      align-items: center;
      justify-content: space-around;
    }

    .main-product-list_item {
      width: 284px;
      margin: 0 10px;
      margin-bottom: 20px;

      @media (max-width:900px){
        width: 46%;
        margin: 0 0;
      }
    }
  }
}