<section class="favorite">
  <div class="main-bread-crumbs">
    <div class="main-bread-crumbs_wrapper">
      <a href="">Главная страница</a>
      <span><img src="img/icons/arrow_small.svg" alt=""></span>
      <a href="" class="main-bread-crumbs_active">Информация</a>
    </div>
  </div>
  <div class="container">
    <div class="account__title">
      <p>Личный кабинет</p>
    </div>
    <div class="account__wrap">
      <div class="account__menu">
        <ul>
          <li>
            <a href="account.html"><i class="i-account"></i> Личный данные</a>
          </li>
          <li>
            <a class="active" href="favorite.html"><i class="i-favorite"></i> Избранное</a>
          </li>
          <li>
            <a href="myorders.html"><i class="i-myorders"></i> Мои заказы</a>
          </li>
          <li>
            <a href="viewed.html"><i class="i-viewed"></i> Просмотренные товары</a>
          </li>
        </ul>
      </div>
      <div class="favorite__container">
        <div class="main-product-list_item">
          <img class="product-favorite" src="img/icons/greyHeart.svg" alt="">
          <a href="" class="preview-product"><img src="img/images/cardImage1.jpg" alt=""></a>
          <p class="product-title">Босоножки 00001-beige</p>
          <p class="product-model">Модель: Zoom-00002-beige</p>
          <p class="product-value">Пар в ящике (8)</p>
          <div class="product-list-prices">
            <div class="product-list-prices_item">
              <span>Цена за пару</span>
              <p>60.00 ₴</p>
            </div>
            <div class="product-list-prices_item">
              <span>Цена за ящик</span>
              <p>480.00 ₴ </p>
            </div>
          </div>
          <a href="" class="product-button-cart">В корзину <img src="img/icons/whiteCart.svg" alt=""></a>
        </div>
        <div class="main-product-list_item">
          <img class="product-favorite" src="img/icons/greyHeart.svg" alt="">
          <a href="" class="preview-product"><img src="img/images/cardImage1.jpg" alt=""></a>
          <p class="product-title">Босоножки 00001-beige</p>
          <p class="product-model">Модель: Zoom-00002-beige</p>
          <p class="product-value">Пар в ящике (8)</p>
          <div class="product-list-prices">
            <div class="product-list-prices_item">
              <span>Цена за пару</span>
              <p>60.00 ₴</p>
            </div>
            <div class="product-list-prices_item">
              <span>Цена за ящик</span>
              <p>480.00 ₴ </p>
            </div>
          </div>
          <a href="" class="product-button-cart">В корзину <img src="img/icons/whiteCart.svg" alt=""></a>
        </div>
        <div class="main-product-list_item">
          <img class="product-favorite" src="img/icons/greyHeart.svg" alt="">
          <a href="" class="preview-product"><img src="img/images/cardImage1.jpg" alt=""></a>
          <p class="product-title">Босоножки 00001-beige</p>
          <p class="product-model">Модель: Zoom-00002-beige</p>
          <p class="product-value">Пар в ящике (8)</p>
          <div class="product-list-prices">
            <div class="product-list-prices_item">
              <span>Цена за пару</span>
              <p>60.00 ₴</p>
            </div>
            <div class="product-list-prices_item">
              <span>Цена за ящик</span>
              <p>480.00 ₴ </p>
            </div>
          </div>
          <a href="" class="product-button-cart">В корзину <img src="img/icons/whiteCart.svg" alt=""></a>
        </div>
        <div class="main-product-list_item">
          <img class="product-favorite" src="img/icons/greyHeart.svg" alt="">
          <a href="" class="preview-product"><img src="img/images/cardImage1.jpg" alt=""></a>
          <p class="product-title">Босоножки 00001-beige</p>
          <p class="product-model">Модель: Zoom-00002-beige</p>
          <p class="product-value">Пар в ящике (8)</p>
          <div class="product-list-prices">
            <div class="product-list-prices_item">
              <span>Цена за пару</span>
              <p>60.00 ₴</p>
            </div>
            <div class="product-list-prices_item">
              <span>Цена за ящик</span>
              <p>480.00 ₴ </p>
            </div>
          </div>
          <a href="" class="product-button-cart">В корзину <img src="img/icons/whiteCart.svg" alt=""></a>
        </div>
        <div class="main-product-list_item">
          <img class="product-favorite" src="img/icons/greyHeart.svg" alt="">
          <a href="" class="preview-product"><img src="img/images/cardImage1.jpg" alt=""></a>
          <p class="product-title">Босоножки 00001-beige</p>
          <p class="product-model">Модель: Zoom-00002-beige</p>
          <p class="product-value">Пар в ящике (8)</p>
          <div class="product-list-prices">
            <div class="product-list-prices_item">
              <span>Цена за пару</span>
              <p>60.00 ₴</p>
            </div>
            <div class="product-list-prices_item">
              <span>Цена за ящик</span>
              <p>480.00 ₴ </p>
            </div>
          </div>
          <a href="" class="product-button-cart">В корзину <img src="img/icons/whiteCart.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>