.header {
  width: 100%;
  height: 50px;
  background-color: #000;
  padding: 0 20px;
}

.header__logo {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #6CBE45;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 10;
  box-shadow: 3px 3px 0 rgba(#000, 0.11);
  &:before {
    font-size: 24px;
  }
  &:hover {
    background: #5CA43A;
  }
}