<footer>
    <div class="footer-wrapper">
        <div class="footer-nav-list">
            <div class="footer-nav-list_item">
                <p>Информация
                    <span>
                        <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.146447 0.146447C0.320013 -0.0271197 0.589437 -0.0464049 0.784306 0.0885912L0.853553 0.146447L4.5 3.793L8.14645 0.146447C8.32001 -0.0271197 8.58944 -0.0464049 8.78431 0.0885912L8.85355 0.146447C9.02712 0.320013 9.0464 0.589437 8.91141 0.784306L8.85355 0.853553L4.85355 4.85355C4.67999 5.02712 4.41056 5.0464 4.21569 4.91141L4.14645 4.85355L0.146447 0.853553C-0.0488155 0.658291 -0.0488155 0.341709 0.146447 0.146447Z"
                                fill="white" />
                        </svg>
                    </span>
                </p>
                <nav>
                    <ul>
                        <li><a href="">О нас</a></li>
                        <li><a href="">Доставка и оплата</a></li>
                        <li><a href="">Обмен и возврат</a></li>
                        <li><a href="">Контакты</a></li>
                        <li><a href="">Блог</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer-nav-list_item">
                <p>Контакты
                    <span>
                        <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.146447 0.146447C0.320013 -0.0271197 0.589437 -0.0464049 0.784306 0.0885912L0.853553 0.146447L4.5 3.793L8.14645 0.146447C8.32001 -0.0271197 8.58944 -0.0464049 8.78431 0.0885912L8.85355 0.146447C9.02712 0.320013 9.0464 0.589437 8.91141 0.784306L8.85355 0.853553L4.85355 4.85355C4.67999 5.02712 4.41056 5.0464 4.21569 4.91141L4.14645 4.85355L0.146447 0.853553C-0.0488155 0.658291 -0.0488155 0.341709 0.146447 0.146447Z"
                                fill="white" />
                        </svg>
                    </span>
                </p>
                <nav>
                    <ul>
                        <li>Адрес: Одесса, Промрынок 7км</li>
                        <li>Tелефон: <a href="tel:+38 (063) 725-47-71">+38 (063) 725-47-71</a></li>
                        <li>Мы открыты: с 8:00 до 20:00</li>
                        <li>E-mail info@shlepki.com</li>
                    </ul>
                </nav>
            </div>
            <div class="footer-nav-list_item">
                <p>Личный кабинет
                    <span>
                        <svg width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0.146447 0.146447C0.320013 -0.0271197 0.589437 -0.0464049 0.784306 0.0885912L0.853553 0.146447L4.5 3.793L8.14645 0.146447C8.32001 -0.0271197 8.58944 -0.0464049 8.78431 0.0885912L8.85355 0.146447C9.02712 0.320013 9.0464 0.589437 8.91141 0.784306L8.85355 0.853553L4.85355 4.85355C4.67999 5.02712 4.41056 5.0464 4.21569 4.91141L4.14645 4.85355L0.146447 0.853553C-0.0488155 0.658291 -0.0488155 0.341709 0.146447 0.146447Z"
                                fill="white" />
                        </svg>
                    </span>
                </p>
                <nav>
                    <ul>
                        <li><a href="">Личный данные</a></li>
                        <li><a href="">Избранное</a></li>
                        <li><a href="">Мои заказы</a></li>
                        <li><a href="">Просмотренные товары</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer-sign-up">
                <div class="footer-sign-up_title">Подпишитесь на нашу рассылку:</div>
                <div class="footer-sign-up_label">Чтоб быть всегда в курсе о предстоящих распродажах и предложениях.
                    Подпишитесь на рассылку.</div>
                <form action="">
                    <label for="emailSignUp">
                        <input type="email" name="emailSignUp" id="emailSignUp" placeholder="Ведите ва email" required>
                        <button type="submit">
                            <svg width="10" height="18" viewBox="0 0 10 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L9 9L1 17" stroke="white" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </button>
                    </label>
                </form>
            </div>
        </div>
        <!-- FOOTER FORM -->
    </div>
    <div class="footer-payments">
        <a href="">
            <img src="img/icons/logo_footer.svg" alt="">
        </a>
        <div class="footer-payments_wrapper">
            <p>Мы прынимаем</p>
            <img src="img/icons/visa.svg" alt="">
            <img src="img/icons/mastercard.svg" alt="">
            <img src="img/icons/maestro.svg" alt="">
            <img src="img/icons/paypal.svg" alt="">
        </div>
    </div>
    <div class="popup popup-signin">
        <div class="popup__wrap">
            <div class="popup__close">
                <i class="i-close"></i>
            </div>
            <div class="popup__title">
                <p>Вход</p>
            </div>
            <div class="popup__content">
                <form action="">
                    <div class="wrap__row">
                        <div class="wrap">
                            <p>Email</p>
                            <input type="email" placeholder="Введиете ваш Email">
                        </div>
                    </div>
                    <div class="wrap__row">
                        <div class="wrap">
                            <p>Пароль</p>
                            <input type="password" placeholder="Введиете ваш пароль">
                        </div>
                        <div class="forgot-pass">
                            <p>забыли пароль?</p>
                        </div>
                    </div>
                    <div class="account-edit_form_footer">
                        <div class="canceling">Зарегистрироватся</div>
                        <input type="submit" value="Войти">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="popup popup-change-pass">
        <div class="popup__wrap">
            <div class="popup__close">
                <i class="i-close"></i>
            </div>
            <div class="popup__title">
                <p>Забыли пароль</p>
            </div>
            <div class="popup__subtitle">
                <p>Пожалуйста укажите email.
                    Мы вышлем ссылку для востановления пароля.</p>
            </div>
            <div class="popup__content">
                <form action="">
                    <div class="wrap__row">
                        <div class="wrap">
                            <p>Email</p>
                            <input type="email" placeholder="Введиете ваш Email">
                        </div>
                    </div>
                    <div class="account-edit_form_footer">
                        <input type="submit" value="Отправить">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="popup popup-change-pass-icon">
        <div class="popup__wrap">
            <div class="popup__close">
                <i class="i-close"></i>
            </div>
            <div class="popup__title">
                <p>Забыли пароль</p>
            </div>
            <div class="popup__icon">
                <i class="i-mail2"></i>
            </div>
            <div class="popup__content">
                <div class="popup__subtitle">
                    <p> На почту <span>deni345elch@gmail.com</span> была выслана
                        ссылка для обновления пароля.</p>
                </div>
            </div>
            <div class="popup__content_ok">
                <p>Ок</p>
            </div>
        </div>
    </div>
    <div class="popup popup-pass-recovery">
        <div class="popup__wrap">
            <div class="popup__close">
                <i class="i-close"></i>
            </div>
            <div class="popup__title">
                <p>Восстановление пароля</p>
            </div>
            <div class="popup__content">
                <form action="">
                    <div class="wrap__row">
                        <div class="wrap">
                            <p>Новый пароль</p>
                            <input type="password" placeholder="Введиете новый пароль">
                        </div>
                    </div>
                    <div class="wrap__row">
                        <div class="wrap">
                            <p>Подтвердить пароль</p>
                            <input type="password" placeholder="Подтвердите новый пароль">
                        </div>
                    </div>
                    <div class="account-edit_form_footer">
                        <input type="submit" value="Подтвердить">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="mobile-catalog-popup">
        <div class="mobile-catalog-popup_header">
            <div class="mobile-catalog-popup_header_arrow">
                <img src="img/icons/arrow_small.svg" alt="">
            </div>
            <div class="mobile-catalog-popup_header_text">
                Женская
            </div> 
        </div>
        <div class="mobile-catalog-popup_body">
            <div class="mobile-catalog-popup_body_list">
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Балетки
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Босоножки
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Ботинки
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Бутсы
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item active">
                    <a href="#">
                        Вкладыш В Сапог
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Галоши
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Дутики
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Кеды
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Кроксы
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Кроссовки
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Луноходы
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Мокасины
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Мокасины
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Мокасины
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Мокасины
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Мокасины
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Мокасины
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Мокасины
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Мокасины
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Мокасины
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Мокасины
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Мокасины
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Мокасины
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Мокасины
                    </a>
                </div>
                <div class="mobile-catalog-popup_body_list_item">
                    <a href="#">
                        Мокасины
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="inc/modernizr.js"></script> <!-- Modernizr -->
    <!-- <script src="inc/jquery-2.1.4.js"></script> -->
    <script src="inc/jquery.mobile.custom.min.js"></script>
    <script src="inc/snap.svg-min.js"></script>
    <script src="inc/main.js"></script> <!-- Resource jQuery -->
</footer>