<header>
   <!-- MOBILE -->
   <div class="mobile-header">
      <!-- NAVIGATION -->
      <nav>
         <ul>
            <li id="open_mobile-menu">
               <div><img src="img/icons/burger_menu.svg" alt=""></div>
            </li>
            <li id="list_phone-numbers">
               <div><img src="img/icons/phone.svg" alt=""></div>
            </li>
            <li>
               <div><img src="img/icons/logo.svg" alt=""></div>
            </li>
            <li id="search-mobile">
               <div><img src="img/icons/search.svg" alt=""></div>
            </li>
            <li>
               <div><img src="img/icons/cart.svg" alt=""></div>
            </li>
         </ul>
      </nav>
      <!-- MOBILE MENU -->
      <div class="mobile-menu mobile-menu_logged mobile-menu_unactive">
         <div class="mobile-menu_lang">
            <div class="wrapperBlock-lang">
               <a class="active-lang" href="">РУС</a>
               <a href="">УКР</a>
            </div>
            <img id="close-mobile-menu" src="img/icons/crossWhite.svg" alt="">
         </div>
         <div class="mobile-menu_with_icons">
            <ul>
               <li>
                  <a href="">
                     <img src="img/icons/cartIcon.svg" alt="">
                     <p>Корзина</p>
                     <div class="mobile-menu_counter">2</div>
                  </a>
               </li>
               <li>
                  <a class="mobile-menu_profile_logged" href="">
                     <img src="img/icons/profile.svg" alt="">
                     <p>Марквенко Л.</p>
                  </a>
               </li>
               <li>
                  <a href="">
                     <img src="img/icons/heart.svg" alt="">
                     <p>Избранное</p>
                  </a>
               </li>
               <li>
                  <a href="">
                     <img src="img/icons/confirmOrder.svg" alt="">
                     <p>Мои заказы</p>
                  </a>
               </li>
               <li>
                  <a href="">
                     <img src="img/icons/eye.svg" alt="">
                     <p>Просмотренные товары</p>
                  </a>
               </li>
            </ul>
         </div>
         <div class="mobile-menu-nav">
            <ul>
               <li class="nav-attention"><a href="">Распродажа</a></li>
               <li><a href="">Новинки</a></li>
               <li class="nav-to-list">
                  <a href="">Женская <img src="img/icons/arrowHorizontal.svg" alt=""></a>
                  
                  <div class="mobile-catalog-popup">
                     <div class="mobile-catalog-popup_header">
                         <div class="mobile-catalog-popup_header_arrow">
                             <img src="img/icons/arrow_small.svg" alt="">
                         </div>
                         <div class="mobile-catalog-popup_header_text">
                             Женская
                         </div> 
                     </div>
                     <div class="mobile-catalog-popup_body">
                         <div class="mobile-catalog-popup_body_list">
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Балетки
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Босоножки
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Ботинки
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Бутсы
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item active">
                                 <a href="#">
                                     Вкладыш В Сапог
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Галоши
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Дутики
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Кеды
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Кроксы
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Кроссовки
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Луноходы
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Мокасины
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Мокасины
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Мокасины
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Мокасины
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Мокасины
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Мокасины
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Мокасины
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Мокасины
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Мокасины
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Мокасины
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Мокасины
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Мокасины
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Мокасины
                                 </a>
                             </div>
                             <div class="mobile-catalog-popup_body_list_item">
                                 <a href="#">
                                     Мокасины
                                 </a>
                             </div>
                         </div>
                     </div>
                 </div>
               </li>
               <li>
                  <a href="">Мужская <img src="img/icons/arrowHorizontal.svg" alt=""></a>
               </li>
               <li><a href="">Детская <img src="img/icons/arrowHorizontal.svg" alt=""></a></li>
               <li>
                  <a href="">Украинская обувь</a>
               </li>
               <li><a href="">Бренды</a></li>
            </ul>
         </div>
         <div class="mobile-menu-phones">
            <div class="mobile-menu_phone-icon">
               <img src="img/icons/phoneBG.svg" alt="">
            </div>
            <div class="mobile-menu_phone-list">
               <a href="tel:+38 050 786 99 84">+38 050 786 99 84</a>
               <a href="tel:+38 050 343 34 24">+38 050 343 34 24</a>
               <a href="tel:+38 050 756 90 00">+38 050 756 90 00</a>
               <p><img src="img/icons/clock.svg" alt="">ПН-ВС с 10:00 до 19:00</p>
            </div>
         </div>
         <div class="mobile-menu-bottom-nav">
            <ul>
               <li><a href="">О нас</a></li>
               <li><a href="">Контакты</a></li>
               <li><a href="">Информация</a></li>
            </ul>
         </div>
      </div>
      <!-- PHONE NUMBERS -->
      <div class="mobile-header_phone-numbers_wrapper">
         <div class="mobile-header_phone-numbers">
            <div class="mobile-header_phone-numbers_cross-btn">
               <img src="img/icons/cross.svg" alt="">
            </div>
            <img src="img/icons/phone.svg" alt="">
            <div class="mobile-header_phone-numbers-list">
               <a href="tel:+38 050 756 90 00">+38 050 786 99 84</a>
               <a href="tel:+38 050 756 90 00">+38 050 343 34 24</a>
               <a href="tel:+38 050 756 90 00">+38 050 756 90 00</a>
            </div>
            <p><img src="img/icons/clock.svg" alt="">ПН-ВС с 10:00 до 19:00</p>
         </div>
      </div>
   </div>
   <!-- SEARCH MOBILE -->
   <div class="mobile-header_search_wrapper">
      <div class="mobile-header_search">
         <!-- INPUT -->
         <input type="text" name="searcher" id="searcher" placeholder="Я ищу… (например, женские туфли)">
         <img id="abort-input" src="img/icons/cross.svg" alt="">
         <!-- RESULT -->
         <div class="mobile-header_search_list">
            <div class="mobile-header_search_list-item">
               <img src="img/images/mobile-search-photo.jpg" alt="">
               <p>Босоножки 00001-beige</p>
            </div>
            <div class="mobile-header_search_list-item">
               <img src="img/images/mobile-search-photo.jpg" alt="">
               <p>Босоножки 00001-beige</p>
            </div>
            <div class="mobile-header_search_list-item">
               <img src="img/images/mobile-search-photo.jpg" alt="">
               <p>Босоножки 00001-beige</p>
            </div>
         </div>
      </div>
   </div>
   <!-- DESKTOP -->
   <div class="desktop-header">
      <div class="desktop-top-header">
         <div class="containerBlock">
            <nav>
               <ul>
                  <li><a href="">О нас</a></li>
                  <li><a href="">Контакты</a></li>
                  <li><a href="">Информация</a></li>
               </ul>
            </nav>
            <div class="wrapperBlock-lang">
               <a class="active-lang" href="">РУС</a>
               <a href="">УКР</a>
            </div>
         </div>
      </div>
      <div class="desktop-middle-header">
         <div class="containerBlock">
            <div class="desktop-middle-header-wrapperBlock">
               <div class="desktop-logo">
                  <a href="">
                     <img src="img/icons/Desktop-logo.svg" alt="">
                  </a>
               </div>
               <div class="desktop-contacts">
                  <a href="tel:+38 050 786 99 84"><img src="img/icons/phoneBG.svg" alt="">+38 050 786 99 84<span><img
                           src="img/icons/arrow.svg" alt=""></span></a>
                  <p><img src="img/icons/clock.svg" alt="">ПН-ВС с 10:00 до 19:00</p>
                  <div class="desktop-contacts_phone-list">
                     <a href="tel:+38 050 343 34 24">+38 050 343 34 24</a>
                     <a href="tel:+38 050 756 90 00">+38 050 756 90 00</a>
                  </div>
               </div>
            </div>
            <!-- DESKTOP SEARCHER -->
            <div class="desktop-searcher">
               <form action="">
                  <label for="searchingField" class="desktop-searcher-wrapperBlock">
                     <input name="searchingField" id="searchingField" type="text"
                        placeholder="Я ищу… (на пример женские туфли)">
                     <button type="submit"><img src="img/icons/search.svg" alt=""></button>
                  </label>
               </form>
               <div class="desktop-search-result">
                  <div class="desktop-search-result-item">
                     <img src="img/images/mobile-search-photo.jpg" alt="">
                     <p>Босоножки 00001-beige</p>
                  </div>
                  <div class="desktop-search-result-item">
                     <img src="img/images/mobile-search-photo.jpg" alt="">
                     <p>Босоножки 00001-beige</p>
                  </div>
                  <div class="desktop-search-result-item">
                     <img src="img/images/mobile-search-photo.jpg" alt="">
                     <p>Босоножки 00001-beige</p>
                  </div>
                  <div class="desktop-search-result-item">
                     <img src="img/images/mobile-search-photo.jpg" alt="">
                     <p>Босоножки 00001-beige</p>
                  </div>
                  <div class="desktop-search-result-item">
                     <img src="img/images/mobile-search-photo.jpg" alt="">
                     <p>Босоножки 00001-beige</p>
                  </div>
                  <div class="desktop-search-result-item">
                     <img src="img/images/mobile-search-photo.jpg" alt="">
                     <p>Босоножки 00001-beige</p>
                  </div>
               </div>
            </div>
            <div class="desktop-middle-nav">
               <div id="profile-nav-item" class="desktop-middle-nav-item">
                  <a href="">
                     <img src="img/icons/profile.svg" alt="">
                     <span>Профиль</span>
                  </a>
                  <div class="desktop-profile-pop-up">
                     <a href=""><img src="img/icons/profilePicBlue.svg" alt=""><span class="main-color-text">Личный
                           данные</span></a>
                     <a href=""><img src="img/icons/heartGrey.svg" alt=""><span>Избранное</span></a>
                     <a href=""><img src="img/icons/cartGrey.svg" alt=""><span>Мои заказы</span></a>
                     <a href=""><img src="img/icons/quitRed.svg" alt=""><span
                           class="main-color-warning">Выйти</span></a>
                  </div>
               </div>
               <!-- <div class="desktop-middle-nav_profile-block">
                           <a href="">Hello</a>
                           </div> -->
               <a href="" class="desktop-middle-nav-item">
                  <img src="img/icons/heart.svg" alt="">
                  <div class="desktop-middle-nav-item_pop-num">2</div>
                  <p>Избранное</p>
               </a>
               <div id="cart-nav-item" class="desktop-middle-nav-item">
                  <a href="">
                     <img src="img/icons/cartIcon.svg" alt="">
                     <div class="desktop-middle-nav-item_pop-num">2</div>
                     <p>Корзина</p>
                  </a>
                  <div class="desktop-cart-pop-up">
                     <div class="desktop-cart-pop-up_title">
                        <h3>Корзина</h3>
                        <p><span>2</span> товара</p>
                     </div>
                     <div class="desktop-cart-pop-up_cart-full">
                        <div class="desktop-cart-pop-up_list">
                           <div class="desktop-cart-pop-up_list-item">
                              <img src="img/images/cardImage1.jpg" alt="" class="desktop-cart-pop-up_list-item_img">
                              <div class="desktop-cart-pop-up_list-item-text">
                                 <div class="desktop-cart-pop-up_list-item-text-title">Босоножки 00001-beige</div>
                                 <div class="desktop-cart-pop-up_list-item-text-model">Модель:
                                    <span>Zoom-000002-beige</span></div>
                                 <div class="desktop-cart-pop-up_list-item-text_value">кол 3</div>
                              </div>
                              <div class="desktop-cart-pop-up_list-item_price">480.00₴</div>
                           </div>
                           <div class="desktop-cart-pop-up_list-item">
                              <img src="img/images/cardImage1.jpg" alt="" class="desktop-cart-pop-up_list-item_img">
                              <div class="desktop-cart-pop-up_list-item-text">
                                 <div class="desktop-cart-pop-up_list-item-text-title">Босоножки 00001-beige</div>
                                 <div class="desktop-cart-pop-up_list-item-text-model">Модель:
                                    <span>Zoom-000002-beige</span></div>
                                 <div class="desktop-cart-pop-up_list-item-text_value">кол 3</div>
                              </div>
                              <div class="desktop-cart-pop-up_list-item_price">480.00₴</div>
                           </div>
                        </div>
                     </div>
                     <div class="desktop-cart-pop-up_cart-empty">
                        <img src="img/icons/cartEmpty.svg" alt="" class="desktop-cart-pop-up_cart-empty_image">
                        <div class="desktop-cart-pop-up_cart-empty_text">
                           <p>Ваша корзина пуста</p>
                           <span>Но это легко исправить :)</span>
                        </div>
                     </div>
                     <div class="desktop-cart-pop-up_final-price">
                        <p>К оплате: <span>3000₴</span></p>
                     </div>
                     <div class="desktop-cart-pop-up_wrapper_buttons">
                        <a href="" class="desktop-cart-pop-up_link-cart desktop-cart-pop-up_link">Перейти в
                           корзину</a>
                        <a href="" class="desktop-cart-pop-up_link-order desktop-cart-pop-up_link">Оформить заказ</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="desktop-main-header">
         <nav>
            <ul>
               <li><a href="">Распродажа</a></li>
               <li><a href="">Новинки</a></li>
               <li>
                  <a href="">
                     Мужская
                     <span>
                        <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M7.1247 5.50024C6.75948 5.79242 6.24052 5.79242 5.87531 5.50024L1.22609 1.78087C0.487949 1.19036 0.905504 0 1.85078 0L11.1492 0C12.0945 0 12.5121 1.19036 11.7739 1.78087L7.1247 5.50024Z" />
                        </svg>
                     </span>
                  </a>
               </li>
               <li>
                  <div>
                     <a href="">
                        Женская
                        <span>
                           <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M7.1247 5.50024C6.75948 5.79242 6.24052 5.79242 5.87531 5.50024L1.22609 1.78087C0.487949 1.19036 0.905504 0 1.85078 0L11.1492 0C12.0945 0 12.5121 1.19036 11.7739 1.78087L7.1247 5.50024Z" />
                           </svg>
                        </span>
                     </a>
                     <div class="sub-menu_wrapper">
                        <ul class="sub-menu">
                           <li><a href=""><span class="sub-nav_menu-text">Балетки</span><span
                                    class="sub-nav_menu-counter">(450)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Кеды</span><span
                                    class="sub-nav_menu-counter">(250)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Ботинки</span><span
                                    class="sub-nav_menu-counter">(1450)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Кросовки</span><span
                                    class="sub-nav_menu-counter">(9450)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Кроксы</span><span
                                    class="sub-nav_menu-counter">(400)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Ботинки</span><span
                                    class="sub-nav_menu-counter">(150)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Бутсы</span><span
                                    class="sub-nav_menu-counter">(459)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Тапки</span><span
                                    class="sub-nav_menu-counter">(421)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Тапочки</span><span
                                    class="sub-nav_menu-counter">(221)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Сапоги</span><span
                                    class="sub-nav_menu-counter">(429)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Сникерсы</span><span
                                    class="sub-nav_menu-counter">(228)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Угги</span><span
                                    class="sub-nav_menu-counter">(1337)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Футбольная обувь</span><span
                                    class="sub-nav_menu-counter">(1488)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Шлепки</span><span
                                    class="sub-nav_menu-counter">(1332)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Чешки</span><span
                                    class="sub-nav_menu-counter">(3213)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Слипоны</span><span
                                    class="sub-nav_menu-counter">(429)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Сапоги</span><span
                                    class="sub-nav_menu-counter">(429)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Сникерсы</span><span
                                    class="sub-nav_menu-counter">(228)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Угги</span><span
                                    class="sub-nav_menu-counter">(1337)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Футбольная обувь</span><span
                                    class="sub-nav_menu-counter">(1488)</span></a></li>
                        </ul>
                     </div>
                  </div>

               </li>
               <li>
                  <div>
                     <a href="">
                        Детская
                        <span>
                           <svg width="13" height="6" viewBox="0 0 13 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path
                                 d="M7.1247 5.50024C6.75948 5.79242 6.24052 5.79242 5.87531 5.50024L1.22609 1.78087C0.487949 1.19036 0.905504 0 1.85078 0L11.1492 0C12.0945 0 12.5121 1.19036 11.7739 1.78087L7.1247 5.50024Z" />
                           </svg>
                        </span>
                     </a>
                     <div class="sub-menu_wrapper">
                        <ul class="sub-menu">
                           <li><a href=""><span class="sub-nav_menu-text">Балетки</span><span
                                    class="sub-nav_menu-counter">(450)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Кеды</span><span
                                    class="sub-nav_menu-counter">(250)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Ботинки</span><span
                                    class="sub-nav_menu-counter">(1450)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Кросовки</span><span
                                    class="sub-nav_menu-counter">(9450)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Кроксы</span><span
                                    class="sub-nav_menu-counter">(400)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Ботинки</span><span
                                    class="sub-nav_menu-counter">(150)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Бутсы</span><span
                                    class="sub-nav_menu-counter">(459)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Тапки</span><span
                                    class="sub-nav_menu-counter">(421)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Тапочки</span><span
                                    class="sub-nav_menu-counter">(221)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Сапоги</span><span
                                    class="sub-nav_menu-counter">(429)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Сникерсы</span><span
                                    class="sub-nav_menu-counter">(228)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Угги</span><span
                                    class="sub-nav_menu-counter">(1337)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Футбольная обувь</span><span
                                    class="sub-nav_menu-counter">(1488)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Шлепки</span><span
                                    class="sub-nav_menu-counter">(1332)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Чешки</span><span
                                    class="sub-nav_menu-counter">(3213)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Слипоны</span><span
                                    class="sub-nav_menu-counter">(429)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Сапоги</span><span
                                    class="sub-nav_menu-counter">(429)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Сникерсы</span><span
                                    class="sub-nav_menu-counter">(228)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Угги</span><span
                                    class="sub-nav_menu-counter">(1337)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Футбольная обувь</span><span
                                    class="sub-nav_menu-counter">(1488)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Сникерсы</span><span
                                    class="sub-nav_menu-counter">(228)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Угги</span><span
                                    class="sub-nav_menu-counter">(1337)</span></a></li>
                           <li><a href=""><span class="sub-nav_menu-text">Футбольная обувь</span><span
                                    class="sub-nav_menu-counter">(1488)</span></a></li>
                        </ul>
                     </div>
                  </div>
               </li>
               <li><a href="">Украинская обувь</a> 
                  <div class="ukrainian-flag">
                     <div class="ukrainian-flag_blue"></div>
                     <div class="ukrainian-flag_yellow"></div>
                  </div>
               </li>
               <li><a href="">Бренды</a></li>
            </ul>
         </nav>
      </div>
   </div>
</header>