<main>
    <div class="main-products-block">
        <div class="main-bread-crumbs">
            <div class="main-bread-crumbs_wrapper">
                <a href="">Главная страница</a>
                <span><img src="img/icons/arrow_small.svg" alt=""></span>
                <a href="" class="main-bread-crumbs_active">Бренды</a>
            </div>
        </div>
        <div class="main-list_brands">
            <div class="main-title">Бренды</div>
            <div class="main-list_wrapper_brands">
                <div class="main-list_item">
                    <a href="">
                        <div class="main-list_item_img_wrapper">
                            <img src="img/icons/logo_mi.svg" alt="">
                        </div>
                        <p>Logo_lorem</p>
                    </a>
                </div>
                <div class="main-list_item">
                    <a href="">
                        <div class="main-list_item_img_wrapper">
                            <img src="img/icons/logo_mi.svg" alt="">
                        </div>
                        <p>Logo_lorem</p>
                    </a>
                </div>
                <div class="main-list_item">
                    <a href="">
                        <div class="main-list_item_img_wrapper">
                            <img src="img/icons/logo_mi.svg" alt="">
                        </div>
                        <p>Logo_lorem</p>
                    </a>
                </div>
                <div class="main-list_item">
                    <a href="">
                        <div class="main-list_item_img_wrapper">
                            <img src="img/icons/logo_mi.svg" alt="">
                        </div>
                        <p>Logo_lorem</p>
                    </a>
                </div>
                <div class="main-list_item">
                    <a href="">
                        <div class="main-list_item_img_wrapper">
                            <img src="img/icons/logo_mi.svg" alt="">
                        </div>
                        <p>Logo_lorem</p>
                    </a>
                </div>
                <div class="main-list_item">
                    <a href="">
                        <div class="main-list_item_img_wrapper">
                            <img src="img/icons/logo_mi.svg" alt="">
                        </div>
                        <p>Logo_lorem</p>
                    </a>
                </div>
                <div class="main-list_item">
                    <a href="">
                        <div class="main-list_item_img_wrapper">
                            <img src="img/icons/logo_mi.svg" alt="">
                        </div>
                        <p>Logo_lorem</p>
                    </a>
                </div>
                <div class="main-list_item">
                    <a href="">
                        <div class="main-list_item_img_wrapper">
                            <img src="img/icons/logo_mi.svg" alt="">
                        </div>
                        <p>Logo_lorem</p>
                    </a>
                </div>
                <div class="main-list_item">
                    <a href="">
                        <div class="main-list_item_img_wrapper">
                            <img src="img/icons/logo_mi.svg" alt="">
                        </div>
                        <p>Logo_lorem</p>
                    </a>
                </div>
                <div class="main-list_item">
                    <a href="">
                        <div class="main-list_item_img_wrapper">
                            <img src="img/icons/logo_mi.svg" alt="">
                        </div>
                        <p>Logo_lorem</p>
                    </a>
                </div>
                <div class="main-list_item">
                    <a href="">
                        <div class="main-list_item_img_wrapper">
                            <img src="img/icons/logo_mi.svg" alt="">
                        </div>
                        <p>Logo_lorem</p>
                    </a>
                </div>
                <div class="main-list_item">
                    <a href="">
                        <div class="main-list_item_img_wrapper">
                            <img src="img/icons/logo_mi.svg" alt="">
                        </div>
                        <p>Logo_lorem</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>